@model GigHub.ViewModels.GigsFormVM

@{
    ViewBag.Title = "Create a Gig";
}

<h2>Add a Gig</h2>

@using (Html.BeginForm("Create", "Gigs"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(vm => vm.Venue)
        @Html.TextBoxFor(vm => vm.Venue, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Time)
        @Html.TextBoxFor(vm => vm.Time, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Time)

    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Date)
        @Html.TextBoxFor(vm => vm.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Date)

    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Genre)
        @Html.DropDownListFor(vm => vm.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Genre)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
